Django==2.0.10
django-heroku==0.3.1
django-hosts==3.0
djangorestframework==3.11.2
gunicorn==19.8.1
pipenv==2018.7.1
virtualenv==16.0.0
virtualenv-clone==0.3.0
numpy==1.14.3
Pillow==5.1.0
sklearn==0.0
scikit-learn==0.19.1
scipy==1.1.0
django-cors-headers==2.4.0
